@model HongGia.Models.NewsViewModel

@{
    ViewBag.Title = "All News Page";
}

<div class="row row-margin">
    <div class="col-md-12 text-center">
        <h3>@Model.Header <small>@Model.Date</small></h3>
    </div>
</div>

@if (Model.Image != null)
{
    <div class="row row-margin">
        <div class="col-md-12 text-center">
            <img src="@Model.Image.Src" alt="@Model.Image.Alt" />
        </div>
    </div>
}

<div class="row row-margin">
    <div class="col-md-12 text-justify">
        <p>@Model.Text</p>
    </div>
</div>
