@model HongGia.Core.Interfaces.Models.IBasePageView

<style>
	.blocks {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px gainsboro solid;
	}
</style>

@section scripts{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}


<div class="col-md-12 blocks">
	<div class="form-group">
		<label for="PageHeader">Header</label>
		<input type="text" class="form-control" id="PageHeader" name="Header" value="@Model.Header"/>
	</div>

	<div class="form-group">
		<label for="PageLanguage">Language</label>
		<input type="text" class="form-control" id="PageLanguage" name="Language" value="@Html.ViewData["PageLang"]"/>
	</div>
</div>

<div class="col-md-12 blocks">
	Images
</div>

<div class="col-md-12 blocks">
	<h2>Topics</h2>

	@Ajax.ActionLink("Add Topic", "Add", "Topic",
		new
		{
			pageContentId = @Model.Id,
			name = @Model.Header,
			lang = @Html.ViewData["PageLang"]
		},
		new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" },
		new { @class = "btn btn-primary" })

	@if (@Model != null && @Model.Topics != null)
	{
		foreach (var topic in @Model.Topics)
		{
			using (Ajax.BeginForm("Update", "Topic", new { name = @Model.Header, lang = @Html.ViewData["PageLang"] }, new AjaxOptions { UpdateTargetId = "result" }))
			{
				var topicIdentificator = string.Concat("summernote", @topic.Id);
				var topicTextIdentificator = string.Concat("ArticleHtmlText", @topic.Id);
				var submitIdentificator = string.Concat("submit", @topic.Id);

				<input type="hidden" name="Id" value="@topic.Id" />

				<div class="form-group">
					<label for="Header">Header</label>
					<input type="text" class="form-control" id="Header" name="Header" value="@topic.Header" />
				</div>

				<div class="form-group">
					<label for="Position">Position</label>
					<input type="number" class="form-control" id="Position" name="Position" value="@topic.Position" />
				</div>

				<div class="form-group">
					<label for="Type">Type</label>
					<input type="text" class="form-control" id="Type" name="Type" value="@topic.Type" />
				</div>

				<div class="form-group">
					<label for="summernote">Text</label>
					<div id="summernote" class="@topicIdentificator"></div>

					<input type="hidden" name="HtmlText" id="@topicTextIdentificator" value="@topic.HtmlText" />
				</div>

				<button type="submit" id="@submitIdentificator" class="btn btn-primary">Update</button>

				@Ajax.ActionLink("Remove Topic", "Remove", "Topic",
					new
					{
						topicId = @topic.Id,
						name = @Model.Header,
						lang = @Html.ViewData["PageLang"]
					},
					new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" },
					new { @class = "btn btn-primary" })

				<script>
					$(document).ready(function() {

						$('.@topicIdentificator').summernote({
							height: 500,
							minHeight: 350,
							maxHeight: 1500,
							focus: true
						});

						$('.@topicIdentificator').code($('#@topicTextIdentificator').val());
					});

					$('#@submitIdentificator').click(function () {
						$('#@topicTextIdentificator').val($('.@topicIdentificator').code());
					});
				</script>
			}
		}
	}
</div>

<div class="col-md-12 blocks">
	Files
</div>