@model HongGia.Core.Interfaces.Models.IBasePageView

<style>
	.blocks {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px gainsboro solid;
	}
</style>

@section scripts{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<div class="col-md-12 blocks">
	<h2>Base Information</h2>
	
	@using (Ajax.BeginForm("UpdateBasePageContentName", "BasePage", new { basepageContentId = @Model.Id, name = @Html.ViewData["PageName"], lang = @Html.ViewData["PageLang"]}, new AjaxOptions {HttpMethod = "POST", OnSuccess = "window.location.reload()"}))
	{
		<div class="form-group">
			<label for="PageHeader">Header</label>
			<input type="text" class="form-control" id="PageHeader" name="Header" value="@Model.Header"/>
		</div>

		<div class="form-group">
			<label for="PageLanguage">Language</label>
			<input type="text" class="form-control" id="PageLanguage" name="Language" value="@Html.ViewData["PageLang"]"/>
		</div>

		<button type="submit" class="btn btn-primary">Update Header Name</button>
	}
</div>

<div class="col-md-12 blocks">
	<h2>Images</h2>

	@using (Ajax.BeginForm("Add", "Image", new { pageContentId = @Model.Id, pageContentName = @Html.ViewData["PageName"], pageContentLang = @Html.ViewData["PageLang"] }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" }))
	{
		<div class="form-group">
			<label for="ImageName">Name</label>
			<input type="text" class="form-control" id="ImageName" placeholder="example" name="Alt" />
		</div>

		<div class="form-group">
			<label for="ImagePath">File</label>
			<input type="file" class="form-control" id="ImagePath" name="Src" accept="image/*" />
		</div>

		<p>Or</p>

		<div class="form-group">
			<label for="ImagePath">Path</label>
			<input type="text" class="form-control" id="ImagePath" name="Src" />
		</div>

		<button type="submit" class="btn btn-primary">Add Image</button>
	}

	@if (@Model.Images != null && @Model.Images.Any() == true)
	{
		<table class="table table-bordered">
			<tr>
				<th>#</th>
				<th>Image</th>
				<th>Name</th>
				<th>Path</th>
				<th>Functional</th>
			</tr>

			@foreach (var image in Model.Images)
			{
				<tr>
					<td>@image.Id</td>
					<td><img src="@image.Src" alt="@image.Alt" width="200" height="200"/></td>
					<td>@image.Alt</td>
					<td>@image.Src</td>
					<td>
						@Ajax.ActionLink("Remove", "Remove", "Image",
							new {
								imageId = image.Id,
								pageContentName = @Html.ViewData["PageName"],
								pageContentLang = @Html.ViewData["PageLang"]
							}, 
							new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" }, 
							new { @class = "btn btn-primary" })
					</td>
				</tr>
			}
		</table>
	}
</div>

<div class="col-md-12 blocks">
	<h2>Topics</h2>

	@Ajax.ActionLink("Add Topic", "Add", "Topic",
		new
		{
			pageContentId = @Model.Id,
			name = @Html.ViewData["PageName"],
			lang = @Html.ViewData["PageLang"]
		},
		new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" },
		new { @class = "btn btn-primary" })

	<div class="panel-group" id="accordion">

	@if (@Model != null && @Model.Topics.Any() == true)
	{
		foreach (var topic in @Model.Topics)
		{
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#@string.CompareOrdinal("collapse", topic.Id.ToString())">@topic.Position - @topic.Header - @topic.Type/</a>
					</h4>
				</div>
				<div id="@string.CompareOrdinal("collapse", topic.Id.ToString())" class="panel-collapse collapse">

					@using (Ajax.BeginForm("Update", "Topic", new {name = @Html.ViewData["PageName"], lang = @Html.ViewData["PageLang"]}, new AjaxOptions {HttpMethod = "POST", OnSuccess = "window.location.reload()"}))
					{
						var topicIdentificator = string.Concat("summernote", @topic.Id);
						var topicTextIdentificator = string.Concat("ArticleHtmlText", @topic.Id);
						var submitIdentificator = string.Concat("submit", @topic.Id);

						<input type="hidden" name="Id" value="@topic.Id"/>
						<input type="hidden" name="Date" value="@topic.Date"/>
						<input type="hidden" name="UpdateDate" value="@topic.UpdateDate"/>

						<div class="form-group">
							<label for="Header">Header</label>
							<input type="text" class="form-control" id="Header" name="Header" value="@topic.Header"/>
						</div>

						<div class="form-group">
							<label for="Position">Position</label>
							<input type="number" class="form-control" id="Position" name="Position" value="@topic.Position"/>
						</div>

						<div class="form-group">
							<label for="Type">Type</label>
							<input type="text" class="form-control" id="Type" name="Type" value="@topic.Type"/>
						</div>

						<div class="form-group">
							<label for="summernote">Text</label>
							<div id="summernote" class="@topicIdentificator"></div>

							<input type="hidden" name="HtmlText" id="@topicTextIdentificator" value="@topic.HtmlText"/>
						</div>

						<p>Creating Date: @topic.Date</p>
						<p>Last Updating Date: @topic.UpdateDate</p>

						<button type="submit" id="@submitIdentificator" class="btn btn-primary">Update</button>

						@Ajax.ActionLink("Remove Topic", "Remove", "Topic",
							new
							{
								topicId = @topic.Id,
								name = @Html.ViewData["PageName"],
								lang = @Html.ViewData["PageLang"]
							},
							new AjaxOptions {HttpMethod = "POST", OnSuccess = "window.location.reload()"},
							new {@class = "btn btn-primary"})

						<script>
							$(document).ready(function() {

								$('.@topicIdentificator').summernote({
									height: 500,
									minHeight: 350,
									maxHeight: 1500,
									focus: true
								});

								$('.@topicIdentificator').code($('#@topicTextIdentificator').val());
							});

							$('#@submitIdentificator').click(function() {
								$('#@topicTextIdentificator').val($('.@topicIdentificator').code());
							});
						</script>
					}
				</div>
			</div>
		}
	}
	</div>
</div>

<div class="col-md-12 blocks">
	<h2>Files</h2>

	@using (Ajax.BeginForm("Add", "File", new { pageContentId = @Model.Id, pageContentName = @Html.ViewData["PageName"], pageContentLang = @Html.ViewData["PageLang"] }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" }))
	{
		<div class="form-group">
			<label for="FileName">Name</label>
			<input type="text" class="form-control" id="FileName" placeholder="example" name="Name" />
		</div>

		<div class="form-group">
			<label for="FilePath">File</label>
			<input type="file" class="form-control" id="FilePath" placeholder="example" name="File" />
		</div>

		<p>Or</p>

		<div class="form-group">
			<label for="FilePath">Path</label>
			<input type="text" class="form-control" id="FilePath" name="Path" />
		</div>

		<button type="submit" class="btn btn-primary">Add File</button>
	}
	
	@if (@Model != null && @Model.Files.Any() == true)
	{
		<table class="table table-bordered">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Path</th>
				<th>Functional</th>
			</tr> 
		
			@foreach (var file in Model.Files)
			{
				<tr>
					<td>@file.Id</td>
					<td>@file.Name</td>
					<td>@file.Path</td>

					<td>
						@Ajax.ActionLink("Remove", "Remove", "File",
							new
							{
								fileId = file.Id,
								pageContentName = @Html.ViewData["PageName"],
								pageContentLang = @Html.ViewData["PageLang"]
							}, 
							new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" }, 
							new { @class = "btn btn-primary" })
					</td>
				</tr>
			}
		</table>
	}
</div>