@model HongGia.Core.Interfaces.Models.IBasePageView

@using HongGia.CRM.Helpers

@{
	ViewBag.Title = "Index Base Page";
}

<style>
	.blocks {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px gainsboro solid;
	}
</style>

@section scripts{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<h4>@ViewBag.Title</h4>

<div class="blocks">
	<select id="lang">
		<option>ru</option>
		<option>en</option>
	</select>

	@Html.ActionLink("Show Select By Language", "Index", "BasePage", new {name = Html.ViewData["PageName"], lang = "__value__" }, new {@class = "btn btn-primary Select" })
	@Html.ActionLink("Create Or Update By Select Language", "AddOrUpdate", "BasePage", new {name = Html.ViewData["PageName"], lang = "__value__" }, new {@class = "btn btn-primary Select" })

	@if (Model != null)
	{
		@Ajax.ActionLink("Remove", "Remove", "BasePage",
			new {
				basePageContentId = @Model?.Id,
				name = Html.ViewData["PageName"],
				lang = "__value__"
			},
			new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload()" },
			new { @class = "btn btn-primary Select" })
	}
</div>

@if (Model != null)
{
	@Html.BasePage(@Model)
}

<script type="text/javascript">
	$('.Select').click(function () {
		$('.Select').attr('href', function () {
			return this.href.replace('__value__', $('#lang').val());
		});
	});
</script>