@using HongGia.Core.Helpers
@using HongGia.App_LocalResources

@model HongGia.Core.Interfaces.Models.IFeedBacksView

@{
	ViewBag.Title = "FeedBack";
}

<div class="row row-margin">

	<div class="col-md-4">
		<div class="thumbnail feetback-form">

			@using (Html.BeginForm("FeedBack", "Home", FormMethod.Post))
			{
				<div class="form-group">
					<label for="InputText">@GlobalRes.YourFeedback</label>
					<textarea class="form-control" rows="6" id="InputText" name="Text" style="resize: vertical;"></textarea>
				</div>

				<div class="form-group">
					<label for="InputName">@GlobalRes.YourName</label>
					<input type="text" class="form-control" id="InputName" placeholder="example" name="Name">
				</div>

				<div class="form-group">
					<label for="InputEmail">@GlobalRes.YourEmail</label>
					<input type="email" class="form-control" id="InputEmail" placeholder="example@example.com" name="Email">
				</div>

				<button type="submit" class="btn">@GlobalRes.Send</button>
			}

		</div>
	</div>

	@if (@Model != null)
	{
		<div class="col-md-8">
			@Html.ListGroup(@Model.FeedBacks)

			<div class="text-center">
				@Html.PageLinks(
				(int)Html.ViewData["PageNum"],
				(int)Html.ViewData["ItemCount"],
				(int)Html.ViewData["PageSize"],
				x => Url.Action("FeedBack", new { pageNum = x }))
			</div>
		</div>
	}
</div>