@using HongGia.Core.Helpers
@using HongGia.App_LocalResources

@model HongGia.Core.Interfaces.Models.IHomeView

@{
	ViewBag.Title = "Home Page";
}

<!-- carousel -->
@if (Model?.SliderImages != null)
{
	@Html.Slider(@Model.SliderImages)
}

<!-- presentation -->
<div class="presentation-container container row">
	<div class="col-md-12">
		<h1>Клуб <span class="colored-text">Hong-Gia Vietnam</span> в Минске</h1>
		<p>@GlobalRes.Patience</p>
	</div>
</div>

<!-- topics -->
<div class="row">
	<div class="col-md-6">
		<div class="service">
			<div class="service-icon">
				<span class="glyphicon glyphicon-certificate"></span>
			</div>

			<h3>Что такое кунг-фу</h3>

			<p>
				пы впы впыв пыв пывпіртоырпдывар ывар варпыв пылп вылп фывт пыт пв
				ывполфы впот ыфтвп ывепіцул ецпе ыдввп дф выпыфв пд цыдфп фцыуп
				цуфцуыпф дрпфук рпукр пудкпеыдв пыовпўцтуе ыьвп ывпржфы вплцукотыпцуфк
				фывлрп ыв аружкднетулф рпфлвыарплуціыпеы.
			</p>

			<p><a class="big-link-1" href="#">@GlobalRes.ReadMore</a></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="service">
			<div class="service-icon">
				<span class="glyphicon glyphicon-bell"></span>
			</div>

			<h3>Почему это школа</h3>

			<p>
				пы впы впыв пыв пывпіртоырпдывар ывар варпыв пылп вылп фывт пыт пв
				ывполфы впот ыфтвп ывепіцул ецпе ыдввп дф выпыфв пд цыдфп фцыуп
				цуфцуыпф дрпфук рпукр пудкпеыдв пыовпўцтуе ыьвп ывпржфы вплцукотыпцуфк
				фывлрп ыв аружкднетулф рпфлвыарплуціыпеы.
			</p>

			<p><a class="big-link-1" href="#">@GlobalRes.ReadMore</a></p>
		</div>
	</div>
</div>

<!-- Photos -->
@if (Model?.TopPhotos != null)
{
	<div class="work-container">
		<div class="row">
			<div class="col-md-12 work-title">
				<h2>@GlobalRes.ClubPhotos</h2>
			</div>
		</div>

		<div class="row">
			@foreach (var photo in @Model.TopPhotos)
			{
				<div class="col-md-3">
					<div class="work"><img src="@photo.Src" alt="@photo.Alt" style="height: 200px; width: 100%; display: block;"></div>@*style*@
				</div>
			}
		</div>
	</div>
}

<!-- News -->
@if (Model?.TopNews != null)
{
	<div class="work-container">
		<div class="row">
			<div class="col-md-12 work-title">
				<h2>@GlobalRes.ClubNews</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.ListGroup(@Model.TopNews)
			</div>
		</div>
	</div>
}

<!-- quotations -->
<div class="testimonials-container">
	<div class="row">
		<div class="col-sm-12 testimonials-title">
			<h2>@GlobalRes.GreatSaid</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-10 testimonial-list">
			<div role="tabpanel">
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="tab1">
						<div class="testimonial-text">
							<p>
								"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
								Lorem ipsum dolor sit amet, consectetur..."<br>
								<span class="colored-text">asdgsdgasdg</span>
							</p>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab2">
						<div class="testimonial-text">
							<p>
								"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
								ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
								lobortis nisl ut aliquip ex ea commodo consequat..."<br>
								<span class="colored-text">12412412412412</span>
							</p>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab3">
						<div class="testimonial-text">
							<p>
								"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
								Lorem ipsum dolor sit amet, consectetur..."<br>
								<a href="#">Lorem Ipsum, dolor.co.uk</a>
							</p>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab4">
						<div class="testimonial-text">
							<p>
								"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
								ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
								lobortis nisl ut aliquip ex ea commodo consequat..."<br>
								<a href="#">Minim Veniam, nostrud.com</a>
							</p>
						</div>
					</div>
				</div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
					</li>
					<li role="presentation">
						<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
					</li>
					<li role="presentation">
						<a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
					</li>
					<li role="presentation">
						<a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-2 testimonial-icon">
			<div>
				<span aria-hidden="true" class="glyphicon glyphicon-leaf"></span>
			</div>
		</div>
	</div>
</div>