@using HongGia.Core.Helpers
@using HongGia.App_LocalResources

@model HongGia.Core.Interfaces.Models.IHomeView

@{
	ViewBag.Title = "Home Page";
}

<!-- carousel -->
@if (Model?.SliderImages != null)
{
	@Html.Slider(@Model.SliderImages)
}

<!-- presentation -->
<div class="presentation-container container row">
	<div class="col-md-12">
		<h1>Клуб <span class="colored-text">Hong-Gia Vietnam</span> в Минске</h1>
		<p>@GlobalRes.Patience</p>
	</div>
</div>

<!-- topics -->
@Html.Partial("_TopicsIndexPartial")

<!-- Photos -->
@Html.Partial("_PhotosIndexPartial", Model)

<!-- News -->
@Html.Partial("_NewsIndexPartial", Model)

<!-- quotations -->
@Html.Partial("_QuotationsIndexPartial")