@using HongGia.App_LocalResources
@using HongGia.Core.Parameters
@using HongGia.Core.Helpers

<ul class="nav navbar-nav">
    @Html.MenuSection(new MenuSectionParameters() { LinkText = @GlobalRes.Home, ActionName = "Index", ControllerName = "Home", RouteData = ViewContext.RouteData }, "<span class='glyphicon glyphicon-home'></span><br>")
    @Html.MenuSection(new MenuSectionParameters() { LinkText = @GlobalRes.News, ActionName = "AllNews", ControllerName = "News", RouteData = ViewContext.RouteData }, "<span class='glyphicon glyphicon-list-alt'></span><br>")

    @Html.DropdownMenuSection(@GlobalRes.HongGia, new List<MenuSectionParameters>()
                                            {
                                                new MenuSectionParameters() {LinkText = @GlobalRes.AboutSchool, ActionName = "About", ControllerName = "HongGia", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.History, ActionName = "History", ControllerName = "HongGia", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Levels, ActionName = "Levels", ControllerName = "HongGia", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Program, ActionName = "Program", ControllerName = "HongGia", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.ToBeginner, ActionName = "ToBeginner", ControllerName = "HongGia", RouteData = ViewContext.RouteData},
                                                null,
                                                new MenuSectionParameters() { LinkText = @GlobalRes.Master, ActionName = "Master", ControllerName = "Home", RouteData = ViewContext.RouteData}
                                            }, "<span class='glyphicon glyphicon-globe'></span><br>")

    @Html.DropdownMenuSection(@GlobalRes.Directions, new List<MenuSectionParameters>()
                                            {
                                                new MenuSectionParameters() {LinkText = @GlobalRes.HongGiaVietnam, ActionName = "HongGiaVietnam", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.KungFu, ActionName = "KungFu", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.ChiKong, ActionName = "ChiKong", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.TaiChi, ActionName = "TaiChi", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.WuChi, ActionName = "WuChi", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.NgaMi, ActionName = "NgaMi", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.VinChun, ActionName = "VinChun", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.PaKua, ActionName = "PaKua", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.SinI, ActionName = "SinI", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.BaiMy, ActionName = "BaiMy", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.FiveEnimals, ActionName = "FiveEnimals", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Weapon, ActionName = "Weapon", ControllerName = "Directions", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Meditation, ActionName = "Meditation", ControllerName = "Directions", RouteData = ViewContext.RouteData}
                                            }, "<span class='glyphicon glyphicon-tree-deciduous'></span><br>")

    @Html.DropdownMenuSection(@GlobalRes.Training, new List<MenuSectionParameters>()
                                            {
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Groups, ActionName = "Groups", ControllerName = "Training", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Online, ActionName = "Online", ControllerName = "Training", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Seminars, ActionName = "Seminars", ControllerName = "Training", RouteData = ViewContext.RouteData}
                                            }, "<span class='glyphicon glyphicon-eye-open'></span><br>")

    @Html.DropdownMenuSection(@GlobalRes.Media, new List<MenuSectionParameters>()
                                            {
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Articles, ActionName = "Articles", ControllerName = "Article", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Books, ActionName = "Books", ControllerName = "Media", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Photo, ActionName = "AllPhoto", ControllerName = "Photo", RouteData = ViewContext.RouteData},
                                                new MenuSectionParameters() {LinkText = @GlobalRes.Video, ActionName = "Video", ControllerName = "Media", RouteData = ViewContext.RouteData}
                                            }, "<span class='glyphicon glyphicon-folder-open'></span><br>")

    @Html.MenuSection(new MenuSectionParameters() { LinkText = @GlobalRes.FeedBacks, ActionName = "Feedback", ControllerName = "Home", RouteData = ViewContext.RouteData }, "<span class='glyphicon glyphicon-pencil'></span><br>")
    @Html.MenuSection(new MenuSectionParameters() { LinkText = @GlobalRes.Contacts, ActionName = "Contacts", ControllerName = "Home", RouteData = ViewContext.RouteData }, "<span class='glyphicon glyphicon-envelope'></span><br>")
</ul>